.dashboardMainContainer {
    display: flex;
    position: relative;
    width: 100%;
    /* height: 90vh; */
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.dashboardContainer {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 20px;
    /* height: auto; */
    border: 1.5px solid #ddd;
    border-radius: 10px;
    flex-direction: column;
}

.userInfoContainer {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 120px;
    border-bottom: 1.5px solid #ddd;
    justify-content: space-between;
}

.profileImageName {
    display: flex;
    position: relative;
    flex-direction: row;
}

.profileImageSection {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    width: 120px;
    /* height: 100px; */
}

.profileImageSection img {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.userNameId {
    display: flex;
    position: relative;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.userNameId span {
    font-size: 2em;
}

.userDetails {
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.userDetails ul {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 10px;
}

.userDetails ul li {
    list-style: none;
    margin: 5px;
    font-weight: 600;
}

.userHistorySection {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    ;
}

.userSideBar {
    display: flex;
    position: relative;
    width: 250px;
    /* height: 100%; */
    padding: 10px;
    border-right: 1.5px solid #ddd;
}

.patientInfo {
    /* background-color: #f0f0f0; */
    padding: 20px;
    /* border-radius: 8px; */
}

.patientInfo h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.patientInfo p {
    margin: 0;
    margin-bottom: 10px;
}

.ongoingTreatments {
    margin-top: 20px;
}

.treatmentList {
    list-style: none;
    padding: 0;
}

.treatmentItem {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
}

.treatmentInfo {
    display: flex;
    flex-direction: column;
}

.treatmentInfo p {
    margin: 0;
}

.treatmentName {
    font-weight: bold;
}

.medicineTaken {
    margin-top: 5px;
}

.timeRemaining {
    margin-top: 5px;
    font-style: italic;
}

/* Optional: Add more styling as needed */


.userPastRecords {
    display: flex;
    position: relative;
    width: 100%;
    /* height: 90vh; */
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    /* justify-content: center; */
    /* height: 100%; */
}

.userPastRecords h2 {
    margin: 10px;
    font-size: 1.5em;
    position: sticky;
}

.accordionContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 94%;
    /* Take full width */
    margin-bottom: 10px;


}

.fiterTime {
    margin: 10px;
    font-size: 1.2em;
}

.accordionSummary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    border: 1.5px solid #ddd;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

.accordionSummary p {
    display: flex;
    align-items: center;
}

.accordianDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;

}

.accordionArrow {
    margin: 5px 10px;
    transition: transform 0.83s ease-in-out;
    /* Add transition for arrow rotation */
}