.mainAppointmentContainer{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  padding: 20px;
  flex-direction: column;
}
.mainAppointmentContainer h2{
  margin:10px 10px 20px;
  color: #398fff;
}
.calendar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  gap: 20px;
}

.calendar-item {
  display: flex;
  padding: 5px 15px;
  margin: 0 15px;
flex-direction: column;
  /* border: 1.5px solid rgb(195, 199, 255); */
  padding: 15px;
  border-radius: 8px;
  background-color: #c5efff;
  box-shadow: 0 2px 4px rgba(61, 52, 187, 0.1);
}

.calendar-date {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.calendar-time {
  font-size: 14px;
  margin-top: 8px;
}

.calendar-location {
  font-size: 14px;
  margin-top: 8px;
  color: #666;
}
