.loaderContainer{
    display: flex;
    height: 75vh;
    width: 100%;
}
.sw-loader__wrapper {
    position: relative; /* Use fixed positioning to keep the loader in a fixed position */
    top: 30%; /* Position the top of the loader at the vertical center of the viewport */
    left: 50%; /* Position the left side of the loader at the horizontal center of the viewport */
    transform: translate(-40%, -40%); /* Use translate to center the loader precisely */
    z-index: 9999; /* Ensure the loader appears on top of other content */
  }
  
  .sw-loader__holder {
    width: 300px; /* Adjust the width of the loader */
    height: 300px; /* Adjust the height of the loader */
    position: relative;
    transform: rotate(-45deg);
  }
  
  .rect {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px; /* Adjust the width of each rectangle */
    height: 100px; /* Adjust the height of each rectangle */
    background: linear-gradient(
      to right,
      #141562,
      #486FBC,
      #EAB5A1,
      #8DD6FF,
      #4973C9,
      #D07CA7,
      #F4915E,
      #F5919E,
      #B46F89,
      #141562,
      #486FBC
    );
    background-position: 0% 50%;
    background-size: 1000% 1000%;
    overflow: hidden;
    animation: moveGradient 15s infinite;
    transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1); /* Assuming TRANSITION was meant to be 0.5s */
  }
  
  @keyframes moveGradient {
    to {
      background-position: 100% 50%;
    }
  }
  