.medical-reminder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  
  .medical-reminder-container h2 {
    margin: 10px 10px 20px;
    color: #398fff;
  }
  
  .reminderContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .reminder-card {
    display: flex;
    margin: 0px 15px;
    flex-direction: column;
    padding: 15px;
    border-radius: 8px;
    background-color: #c5efff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .reminder-card.completed {
    box-shadow: 0 2px 8px rgba(0, 128, 0, 0.3);
  }
  
  .medicine-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .dosage,
  .time {
    font-size: 14px;
    color: #666;
    margin-top: 8px;
  }
  
  .completion-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .completion-icon:hover {
    transform: scale(1.05);
  }
  .completion-icon span{
    color: #30b30f;
    margin: 0px 10px;
  }
  .completion-icon ion-icon {
    font-size: 24px; /* Increase the font size for IonIcon */
  }
  